{% extends "base.html" %}

{% block content%}

<div class="wierd">
    <div>
        <h2>Create/Update Post</h2>
    </div>


    <div >
        <form class="fire" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        
            {% for field in form %}
            <div>
                <label for=""> {{field.label}}</label>
               <p> {{field}}</p>
            </div>
            {% endfor %}
            <div class="form__action">
                <a type="button" class="btn btn-secondary" href="{% url 'home' %}">Cancel</a>
                <button class="btn btn-info" type="submit">Update</button>
            </div>
        </form>
        
    </div>
</div>



{% endblock content%}