{% extends "base.html" %}


{% block content %}
<h3>Delete Post </h3>


<div class="layout__body">
    <form class="form" action="" method="POST">
        {% csrf_token %}
        <div class="form__group">
            <p>Are you sure you want to delete?</p>
        </div>
        
        <div class="for__group">
            <a  type="button" class="btn btn-secondary" href="{{ request.META.HTTP_REFERER }}">Go Back</a>
            <input  class="btn btn-info" type="submit" value="Confirm" />
        </div>

{% endblock content %}

